{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <script src="/static/js/libs/jquery-1.11.1.min.js"></script>
  <div class="form-wrapper">
    <form method="post" class="form">
      {{form.hidden_tag()}}
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {% if form.name.errors %}  
          {{ form.name(class_ = 'form-control is-invalid', autofocus = true) }}
          <div class='invalid-feedback'>Please input a valid name</div>
        {% else %}
          {{ form.name(class_ = 'form-control', autofocus = true) }}
        {% endif%}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City') }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control') }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control') }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {% if form.phone.errors %}  
            {{ form.phone(class_ = 'form-control is-invalid', placeholder='xxx-xxx-xxxx') }}
            <div class='invalid-feedback'>Please input a valid phone number as xxx-xxx-xxxx</div>
          {% else %}
            {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx') }}
          {% endif%}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control') }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {% if form.facebook_link.errors %}  
            {{ form.facebook_link(class_ = 'form-control is-invalid', placeholder='http://') }}
            <div class='invalid-feedback'>Please input a valid Facebook link</div>
          {% else %}
            {{ form.facebook_link(class_ = 'form-control', placeholder='http://') }}
          {% endif%}
      </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {% if form.image_link.errors %}  
          {{ form.image_link(class_ = 'form-control is-invalid', placeholder='http://', autofocus = true) }}
          <div class='invalid-feedback'>Please input a valid image link</div>
        {% else %}
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        {% endif%}
      </div>      
      <div class="form-group">
        <label for="website">Website</label>
        {% if form.website.errors %} 
          {{ form.website(class_ = 'form-control is-invalid', placeholder='http://') }}
          <div class='invalid-feedback'>Please input a valid website</div>           
        {% else %}
          {{ form.website(class_ = 'form-control', placeholder='http://') }}
        {% endif%}
      </div>
      <div class="form-group">
        <label for="seeking_talent">{{ form.seeking_talent(class_ = 'form-inline', id='seeking_talent', value='yes') }} Seeking Talent</label>
      </div>      
      <div class="form-group" id='seeking_description' style="display: none;">
        <label for="seeking_description">Seeking Description</label>
        {{ form.seeking_description(class_ = 'form-control', placeholder='Looking for ... artists') }} 
      </div>       
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <script>
    $(document).ready(function(){
      $('#seeking_talent').removeAttr('checked');
      $('#seeking_talent').change(function(){
        if (this.checked == true)
          $('#seeking_description').show(300);
        else
          $('#seeking_description').hide(300);
      });
    });
  </script>
{% endblock %}